:root {
    --fundo: #1E90FF;
    --cor-texto: #00CED1;
    --cor-frente-cartao: #00FF7F;
    --cor-versao-cartao: #006400;
    --preto: black;
    --branco: white;
}

body{
    background-color: var(--fundo);
    margin: 0;
}

footer{
    background-color: var(--preto);
    color: var(--branco);
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}